@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header-height: 77px;
    --scrollbar-offset: 0px;
}

html,
body,
:root {
  height: 100%;
}

body {
 padding-right: var(--scrollbar-offset);
}


